<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_review.css') }}">
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}"> <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo"
                class="logo"></a>
        <nav>
            <a href="{{ url_for('login')}}" id="login-link" class="login-button">Login</a>
        </nav>
    </header>
    <main class="review-container">
        <form id="review-form" class="review-form">
            <h2>Add a Review</h2>
            <div class="form-group">
                <label for="place">Place:</label>
                <input type="text" id="place" name="place">
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea id="review" name="review" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Rating:</label>
                <select id="rating" name="rating" required>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </main>
    <footer>
        <p>© 2024 HBnB Evolution. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>